


#title{
    border-top-color: darkgray;
    border-top-style: solid;
    border-top-width: thin;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: thin;
}
h2{
    border-bottom-style: solid;
    border-bottom-color: darkgray;
    border-bottom-width: thin;
}
#box1{
    border: 0.5px solid;
    border-color: darkgray;
    width: 250px;
    height: 350px;
    font-size: 22px;
    background-color: antiquewhite;
    float: right;
    text-align: center;
    position: relative;
}
#box2{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
#box3{
    line-height: 15px;
    font-size: small;
    position: absolute;
    border-collapse: collapse;
    top: 200px;
}
.alignleft{
    text-align: left;
}
.alignright{
    text-align: center;
}